{% extends 'shoopeasy/basic.html' %}
{% block title %}Welcome to Shoopeasy.com {% endblock %}
{% block css %}
<!-- css starts here -->


      @media (min-width: 1200px){
           .container, .container-lg, .container-md, .container-sm, .container-xl {
            max-width: 1199px !important;
            padding:0;
               }
             }


      .col-md-3{
      display: -webkit-inline-box;
      width:270px;
      }
      .col-md-3 img{
      width:270px;
      height:230px;
      }
      body .carousel-indicators li{
      background-color:blue;
      opacity:0.1;

      }
      body .carousel-control-prev-icon,
      body .carousel-control-next-icon{
      background-color:blue;
      }
      body no-padding{
      padding-left:0;
      padding-right:0;
      }
      .carousel-control-next, .carousel-control-prev {
          top:auto;
          bottom:auto;
          padding-top:222px;
         }

 {% endblock %}

  {% block body %}
  {% load static %}
  <!-- navbar started -->

    <div class="container" >
    <!-- carousel start here-->
    {% for product, range, nSlides in allprod %}

        <h4 class="my-4">Flash Sale On <b>{{product.0.category}}</b> - Recommended Items</h4>
        <div class="row">
        <div id="demo{{forloop.counter}}" class="col carousel slide" data-ride="carousel" >
        <ul class="carousel-indicators"  >
            <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active" ></li>
            {% for i in range %}
            <li data-target="#demo{{forloop.counter}}" data-slide-to="{{i}}"></li>
            {% endfor %}
        </ul>
    <!-- slider starter -->

     <div class="carousel-inner no-padding" >
       <div class="carousel-item active" >

       <!-- slider starts here -->
         {% for i in product %}

        <div class="col-xs-1 col-sm-3 col-md-3" >
         <div class="card" style="width: 18rem;">
            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><span id="nameprd{{i.id}}">{{i.name}}</span><br><b>MRP: </b>Rs.<span id="priceprd{{i.id}}">{{i.price}}</span></h5>
                <p class="card-text">{{i.desc|slice:"20"}}  <span class="more-desc">{{i.desc|slice:"20:"}} </span><button class="btn btn-light hel"><b>....</b></button> </p>
                <span id="divprd{{i.id}}" class="divprd">
                <button id="prd{{i.id}}" class="btn btn-primary cart">Add to Cart</button>
                </span>
                <a href="/shoopeasy/product/{{i.id}}">  <button id="qkView{{i.id}}" class="btn btn-primary mx-2">Quick view</button> </a>

            </div>
          </div>
        </div>

            {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
           </div><div class="carousel-item">
            {% endif %}

            {% endfor %}
            </div>
     </div>
     </div>

       <!-- adding prev next icon -->
       <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
       </a>
        <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
         <span class="carousel-control-next-icon"></span>
        </a> </div>
     {% endfor %}
</div>
   {% endblock %}

<!-- adding js -->
{% block js %}

        $('.more-desc').hide();
        $('.hel').click(function(){$(this).prev('.more-desc').toggle(2000);});

        if(localStorage.getItem('cart') == null){
        cart = {};
        }
        else{
         cart =  JSON.parse(localStorage.getItem('cart'));
         updatingCart(cart);
        }
       <!-- adding click event on cart -->
        $('.divprd').on("click","button.cart",function () {

        var strid = this.id.toString();
        if(cart[strid] != null)
        {
        qty=cart[strid][0]+1;
        }
        else
        {
        name=$('#name'+strid).text();
        price=$('#price'+strid).text();
        qty=1;
        cart[strid]=[name,qty,price];
        }
         updatingCart(cart);
        });

       <!--adding item to popover -->
           function updateCart (cart) {
                var a = "";
                var i=1;
                a = "<div class='mx-1'><h5>Items present in your cart.</h5></div><div class='mx-2 my-2'> ";
                for(item in cart) {
                 a=a+"<b>"+i+". </b>  ";
                 a = a +"<strong>"+ document.getElementById('name'+item).innerHTML+ "... ("+cart[item][1]+"-items )" +'</strong><br>';
                 i +=1;
                }
                a += "</div><a href='/shoopeasy/checkout' class='btn btn-primary'>Checkout </a><button type='button'  class='btn btn-primary mx-4' onclick='clearcart()' id='clearcart'>Clear cart</button>";
                document.getElementById("popcart").setAttribute('data-content', a);
                $(function () {
                 $('[data-toggle="popover"]').popover({sanitize:false});
                 $('#popcart').popover('show');
                });
               }
          <!-- for adding more item in cart and changing add to cart button to + - button -->

               function updatingCart(cart) {
                var sum=0;
                for (var item in cart) {
                 sum += cart[item][1];
                document.getElementById('div' + item).innerHTML = "<button id='minus"+item+"' class='btn btn-primary minus'>-</button> <span id='val"+item+"'>" + cart[item][1] +'</span><button id="minus'+item+'"class="btn btn-primary plus">+</button> ';
                }
                localStorage.setItem('cart', JSON.stringify(cart));
                document.getElementById('cart').innerHTML = sum;
                updateCart(cart);
               }
               $('.divprd').on("click", "button.minus", function() {
                a = this.id.slice(5, );
                cart[a][1] = cart[a][1] - 1;
                cart[a][1] = Math.max(0, cart[a][1]);
                if(cart[a][1] == 0){
                  document.getElementById('div' + item).innerHTML = '<button id="' + a + '" class="btn btn-primary cart">Add To Cart</button>';
                 delete cart[a];
                 }
                else{
                document.getElementById('val' + a).innerHTML = cart[a][1];

                }
                updatingCart(cart);
               });
                $('.divprd').on("click", "button.plus", function() {
                a = this.id.slice(7, );
                cart['pr' + a][1] = cart['pr' + a][1] + 1;
                document.getElementById('valpr' + a).innerHTML = cart['pr' + a][1];
                updatingCart(cart);
                });

              function clearcart(){
                if(localStorage.getItem('cart') == '{}'){
                   alert("Cart is already empty");
                 }
                else{
                  cart = JSON.parse(localStorage.getItem('cart'));
                  for (var item in cart) {
                    document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-primary cart">Add To Cart</button>';
                  }
                  localStorage.clear();
                  cart={};
                  updatingCart(cart);

                }
              }

{% endblock %}